%h1 All Users
%a{href: "users/new", class: "newUser"} New User
%table
  %thead
    %tr
      %th= "Name"
      %th= "password"
      %th= "FirstName"
      %th= "LastName"
      %th= "Email"
      %th= "Gender"
      %th= "Show"
      %th= "Edit"
      %th= "Destroy"
  %tbody
    -@users.each do |user|
      %tr
        %td= user.user_name
        %td= user.password
        %td= user.profile.first_name
        %td= user.profile.last_name
        %td= user.profile.email
        %td
          -if user.profile.gender
            Male
          -else
            Female
        %td
          =link_to 'Show', user
        %td
          =link_to 'Edit', edit_user_path(user)
        %td
          =link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
