-flash.each do |name, msg|
  %h2= msg
%h2 Showing Users Data
%h3 User Name := #{@user.user_name}
%h3 Password := #{@user.password}
%h3 First Name :- #{@user.profile.first_name}
%h3 Last Name :- #{@user.profile.last_name}
%h3 Email :- #{@user.profile.email}
-if @user.profile.gender
  %h3 Gender :- Male
-else
  %h3 Gender :- Female

= link_to 'Edit', edit_user_url
= link_to 'Back', users_path